*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#050510,#120824,#2b0d42);
color:white;
overflow:hidden;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

#app{
width:100%;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.hero{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.glass{
width:95%;
max-width:430px;
padding:35px;
border-radius:30px;
text-align:center;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.15);

box-shadow:
0 0 45px rgba(255,20,147,.25);

animation:fade .9s ease;
}

.profile{

width:170px;
height:170px;

object-fit:cover;

border-radius:50%;

border:5px solid hotpink;

box-shadow:0 0 35px hotpink;

margin-bottom:20px;

}

h2{

font-family:'Great Vibes',cursive;

font-size:55px;

margin-bottom:10px;

}

p{

opacity:.92;

line-height:30px;

font-size:17px;

}

button{

margin-top:30px;

padding:15px 40px;

border:none;

border-radius:
